
<%
today = Date.today
yesterday = today - 1
tomorrow = today + 1
%>
<div id="cal-bars">
  <div id="deck"><div>
    <h2><span>Who's on Duty Next</span></h2>
    <ul>
      <%
      Day.where { day >= yesterday }.order(:day).limit(5).each do |day|
        classes = []
        name = case day.day
          when yesterday
            classes << 'yesterday'
            'Yesterday'
          when today
            classes << 'today'
            'Today'
          when tomorrow
            classes << 'tomorrow'
            'Tomorrow'
          else
            day.day.strftime '%A'
        end
        sub_needed = day.subbings.find { |x| x.request }
        on_duty = day.sheriff.mail == @user.mail[0]
        classes << 'swap-needed' if sub_needed
        classes << 'self' if on_duty
        data = {
          :day => day.day, :mail => day.sheriff.mail,
          :nick => day.sheriff.nick, :name => day.sheriff.fullname
        }
        data_attrs = data.to_data_attrs
        %>
        <li class="<%= classes.join(' ') %>">
          <strong><%= name %></strong>
          <a class="sheriff" href="#">
            <% if on_duty %>
              I'm on duty
            <% else %>
              <%= data[:name] %> <em>(<%= data[:nick] %>)</em>
            <% end %>
          </a>
          <% if data[:day] >= today %>
            <span>
              <% if on_duty %>
                <a rel="sub-req" href="#" <%= data_attrs %>>Request a Swap</a>
              <% elsif sub_needed %>
                <a rel="sub-req-take" href="#" <%= data_attrs %>>Be the Sub</a>
              <% else %>
                <a rel="sub-offer" href="#" <%= data_attrs %>>Offer to Swap</a>
              <% end %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div></div>

  <div id="schedule"><div>
    <h2><span>When I'm on Duty</span></h2>
    <ul>
      <%
      mail = @user.mail[0]
      filter = lambda { (day >= today) & {sheriff_mail => mail} }
      count = 0
      Day.where(&filter).order(:day).limit(5).each do |day|
        count += 1
        classes = []
        classes << 'next' if count == 1
        data = {
          :day => day.day, :mail => day.sheriff.mail, :nick => day.sheriff.nick
        }
        data_attrs = data.to_data_attrs
      %>
      <li class="<%= classes.join(' ') %>">
        <a class="date" href=""><%= data[:day].strftime '%A, %B %d, %Y' %></a>
        <span>
          <a rel="sub-req" href="#" <%= data_attrs %>>Request a Swap</a>
        </span>
      </li>
      <% end %>
    </ul>
  </div></div>
</div>
